@CHARSET "ISO-8859-1";

.btn-danger{
	background-color: #dd4b39 !important;
    border-color: #d73925;
}
.input-error{
	 border: 1px solid #d90043 !important;
}
#notifications {
    cursor: pointer;
    position: fixed;
    top: 5%;
    right: 0px;
    z-index: 9999;
    bottom: 0px;
    margin-bottom: 22px;
    margin-right: 15px;
    max-width: 300px;   
}
.alert.alert-success{
	background-color: #743d77 !important;
}
section.content{
	display: list-item;
}