<!-- <%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%> -->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="eBook-app">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Syllabus View</title>
<!-- tell the browser to be responsive -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.css">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"> -->
<link rel="stylesheet" href="../../plugins/adminLTE/css/AdminLTE.css">
<link rel="stylesheet" href="../../plugins/adminLTE/css/skins/_all-skins.css">
<link rel="stylesheet" href="../../plugins/select2/select2.css">
<link rel="stylesheet" href="../../plugins/datatables/css/dataTables.bootstrap.css">
<link rel="stylesheet" href="../../css/com.css">
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.dataTables.min.css"> -->
<style type="text/css">
.pwd-setting{
	/* width: 56%; 
    left: 23%;*/
}
.content{
	float : none;
	background-color: #00a65a;
}
body *{
	background: transparent;
	/* background-size: 100% 100%; */
}
.bg-trans{
	background: transparent !important;
}
html,body{
	background : url(../../images/bg.jpg);
}
/* html,body{
	background-size: 100% 100%;
} */
html,body{
	background-size : cover;
}
@media (min-width: 768px)
{
	.containerCom{
		margin-left: 0%;
	    /* border: 12px solid #333; */
	    box-shadow: 0px 0px 10px 6px #999;
	}
}
@media (min-width: 650px)
{
	.add-button-kingweb{
		width: 41.66666667%;
		float : left;
	}
}
.btn{
	background-color: #743d77 !important;
}
/* body *{
	color : white;
} */
.btn{
	background-color: #743d77 !important;
}
.paginate_button.active a{
	background-color: #743d77 !important;
}
.btn * {
	color : white;
}
.btn-danger{
	background-color: #dd4b39 !important;
    border-color: #d73925;
}

/* .btn-primary-green{

} */
</style>
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-controller="eBook-ctrl">
	<div class="wrapper bg-trans">
		<section class="content bg-trans bg-img col-sm-8 col-md-8 col-lg-6 col-xs-12">

      <!-- SELECT2 EXAMPLE -->
      <div class="box box-default pwd-setting containerCom">
        <div class="box-header with-border">
        <img src="../../images/logo.jpg" alt="logo" style="width:100%;max-height:120px;">
          <h3 class="box-title">{{eBookType.toUpperCase()}} VIEW</h3>

          <!-- <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div> -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
          <div class="col-md-2 col-lg-2"></div>
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
            	<div class="container" style="padding:0%;width: 100%;">
				  <!-- <h2>Dynamic Tabs</h2> -->
				  <ul class="nav nav-tabs">
				    <li class="active"><a id="viewEBook" data-toggle="tab" href="#view_eBook_cont">View {{eBookType}}</a></li>
				    <li><a data-toggle="tab" id="editEBook" href="#edit_EBook_cont">Edit {{eBookType}}</a></li>
				    <div class="col-md-5 col-lg-5 add-button-kingweb"></div>
				    <div class="col-md-2 col-lg-2 col-xs-2" style="margin-left: -4%;margin-top: 2%;">
						<button class="btn btn-success" ng-click="addEBook();" style="padding: 1px 4px;"><i class="fa fa-fw fa-plus-circle"></i>Add {{eBookType}}</button>
					</div>
				  </ul>
				  <div class="tab-content">
				    <div id="view_eBook_cont" class="tab-pane fade in active"  style="overflow:auto;">
				      <table id="syllabus_table" class="table responsive  table-striped table-bordered" cellspacing="0" width="100%">
							        <thead>
							            <tr>
							                <th>{{eBookType}} Id</th>
							                <th>{{eBookType}} Name</th>
							                <th>Branch Name</th>
							                <th>Date</th>
							                <th class="col-md-3 col-sm-3 col-lg-3">Action</th>
							            </tr>
							        </thead>
							        <!-- <tfoot>
							            <tr>
							                <th>Sub Id</th>
							                <th>Sub Name</th>
							                <th>Branch Name</th>
							                <th>Date</th>
							                <th>Action</th>
							            </tr>
							        </tfoot> -->
							        <tbody>
							        	<tr ng-repeat="eBookObj in eBookList track by $index">
							        		<td>{{eBookObj.eBookId}}</td>
							        		<td>{{eBookObj.eBookName}}</td>
							        		<td>{{eBookObj.branch}}</td>
							        		<td >{{eBookObj.dateToShow!=undefined ? eBookObj.dateToShow.getDate()+'-'+(eBookObj.dateToShow.getMonth()+1)+'-'+eBookObj.dateToShow.getFullYear() : '--'}}</td>
							        		<td>
							        			<div class="col-md-8 col-xs-8 col-sm-8 col-lg-8" style="padding:0px;">
								        			<button ng-click="editEBook(eBookObj);" class="btn btn-primary col-md-6 col-xs-12 col-sm-6 col-lg-6" style="padding: 1px 4px;">Edit</button>
								        			<button ng-click="deleteEBook(eBookObj.id);" class="btn btn-danger col-md-6 col-xs-12 col-sm-6 col-lg-6" style="padding: 1px 4px;">Delete</button>
								        		</div>
								        		<!-- <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4" style="padding: 0px;">
							        			<a class="" ng-href="{{'data:application/pdf;base64,'+eBookObj.fileBase64}}"  onclick="removeUnsafe(this);" ><img  class="img img-responsive" src="../../images/pdf.png" alt="Download PDF" ></a>
							        			</div> -->
							        			<!-- <button class="btn btn-success" style="padding: 1px 4px;"><i class="fa fa-fw fa-plus-circle"></i></button>
							        			<button class="btn btn-danger" style="padding: 1px 4px;"><i class="fa fa-fw fa-minus-circle"></i></button> -->
							        		</td>
							        	</tr>
							        </tbody>
							      </table>
				    </div>
				    <div id="edit_EBook_cont" class="tab-pane fade">
				      <div class="row">
          <div class="col-md-2 col-lg-2"></div>
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
            <div>
              <div class="form-group">
                <label>SYLLABUS<i style="color:red;">*</i></label>
                <select ng-model="currentEBook.syllabus" class="form-control select2" style="width: 100%;">
                  <option value="" selected="selected">select syllabus</option>
                  <option>CMC/NEET</option>
                  <option>NEET</option>
                </select>
              </div>
              <div class="form-group">
                <label>BRANCH<i style="color:red;">*</i></label>
                <select ng-model="currentEBook.branch" class="form-control select2" style="width: 100%;">
                  <option value="" selected="selected">select branch</option>
                  <option ng-if="branch!='admin' && branch!='all'" value="{{branch}}" ng-repeat="branch in branches">{{branch.toUpperCase()}}</option>
                </select>
              </div>
              <div class="form-group">
                 <label for="material_id">{{eBookType.toUpperCase()}} ID<i style="color:red;">*</i></label>
                 <input type="text" ng-model="currentEBook.eBookId" class="form-control" id="material_id" placeholder="{{eBookType}} id">
               </div>
               <div class="form-group">
                 <label for="material_name">{{eBookType.toUpperCase()}} NAME <i style="color:red;">*</i></label>
                 <input type="text" ng-model="currentEBook.eBookName" class="form-control" id="material_name" placeholder="{{eBookType}} name">
               </div>
               <div ng-if="eBookType=='material'" class="form-group">
                <label>LANGUAGE<i style="color:red;">*</i></label>
                <select ng-model="currentEBook.language" class="form-control select2" style="width: 100%;">
                  <option value="" selected="selected">Select Language</option>
                  <option value="english">English</option>
                  <option value="tamil">Tamil</option>
                </select>
              </div>
               <div ng-if="eBookType=='material'" class="form-group">
                 <label for="material_date">Date<i style="color:red;">*</i></label>
                 <input ng-model="currentEBook.dateToShow" type="date" class="form-control" id="material_date" placeholder="Select Date">
               </div>
               <div class="form-group">
                 <label for="material_fileUpload">Upload File <i style="color:red;">*</i></label>
                 <div class="fileinput fileinput-new" data-provides="fileinput">
				    <span class="btn btn-default btn-file"><span>Choose file</span><input accept="application/pdf"  type="file" onchange="readFile(event)" /></span>
				    <span class="fileinput-filename"></span><span class="fileinput-new">{{currentEBook.origFileName}}</span>
				    <a href="data:application/pdf;base64,{{currentEBook.fileBase64}}" download="{{currentEBook.origFileName}}" onclick="removeUnsafe(this);">click to download</a>
				</div>
               </div>
               <div class="form-group pull-right col-lg-8 col-md-8 col-xs-9 col-sm-8">
               	 <button ng-click="uploadEBook(currentEBook);" class="btn btn-primary"><i class="fa fa-fw fa-thumbs-o-up"></i>Submit</button>
               </div>
          </div>
				    </div>
				    
				  </div>
				</div>
            </div>
          </div>
          <!-- /.row -->
        </div>
      </div>
      </section>
	</div>

<script src="../../plugins/jquery/jquery.min.js"></script>
<script src="../../plugins/jquery-ui/jquery-ui.js"></script>
<script src="../../plugins/bootstrap/js/bootstrap.js"></script>
<script src="../../plugins/select2/select2.full.js"></script>
<script src="../../plugins/datatables/js/jquery.dataTables.js"></script>
<script src="../../plugins/datatables/js/dataTables.bootstrap.min.js"></script>
<script src="../../plugins/angular/angular.min.js"></script>
<script src="../../plugins/angular/angular-filter.js"></script>
<script src="../../plugins/adminLTE/js/app.js"></script>
<script src="../../js/com.js"></script>
<script>
var eBookApp=angular.module('eBook-app',['angular.filter']);
var pageScope=null;
/* eBookApp.config(function ($compileProvider) {
	//alert();
	$compileProvider.imgSrcSanitizationWhitelist(/^\s*(https|ftp|mailto|file|tel|data)/);
}); */
var eBookCtrl=eBookApp.controller('eBook-ctrl',function($scope, $compile){
	pageScope=$scope;
	pageScope.serviceEndPoint=serviceEndPoint;
	
	$scope.getEBookType=function(){
		var url=window.location.href;
		var queryParam=url.substring(url.indexOf("?")+1);
		queryParam=queryParam.split('&');
		$.each(queryParam,function(paramIndex,paramVal){
			var key=paramVal.split('=')[0];
			var val=paramVal.split('=')[1];
			if(key=='eBookType'){
				if(val=="Q"){
					pageScope['eBookType']="Q&A";
				}
				else{
					pageScope['eBookType']=val;					
				}
				return false;
			}
		});
	};
	$scope.getEBookList=function(){
		var eBookType=pageScope['eBookType'];
		var options={};
		options.apiPath=serviceEndPoint+'getEbookList?eBookType='+eBookType;
		options.methodType='GET';
		options.inputType='application/json';
		options.data="";
		doServiceCall(options,getEBookList_callback,{eBookType:eBookType});
	};
	$scope.addEBook=function(){
		//var eBookType=pageScope.eBookType;
		pageScope.uploadType='new';
		pageScope.currentEBook={};
		currentEBook=pageScope.currentEBook;
		currentEBook.eBookType=pageScope['eBookType'];
		$('#editEBook').css('pointer-events','all');
		$('#editEBook').click();
		$('#editEBook').css('pointer-events','none');
	};
	$scope.editEBook=function(currentEBook){
		//var eBookType=pageScope.eBookType;
		pageScope.uploadType='edit';
		pageScope.currentEBook=currentEBook;
		$('#editEBook').css('pointer-events','all');
		$('#editEBook').click();
		$('#editEBook').css('pointer-events','none');
	};
	$scope.uploadEBook=function(currentEBook){
		//$compile(angular.element('select'))($scope);
		//$('select').select2();
		var errorFlag=validateUpload(currentEBook);
		if(errorFlag){
			return false;
		}
		var options={};
		options.apiPath=serviceEndPoint+'uploadEBook';
		if(pageScope.uploadType=='edit'){
			options.methodType="PUT";	
		}
		else{
			options.methodType="POST";
		}
		//options.methodType='GET';
		options.inputType='application/json';
		options.data=currentEBook;
		doServiceCall(options,uploadEBook_callback,{uploadType:angular.copy(pageScope.uploadType),currentEBook:angular.copy(currentEBook)});
	};
	$scope.deleteEBook=function(id){
		var options={};
		options.apiPath=serviceEndPoint+'uploadEBook?id='+id;
		options.methodType="DELETE";	
		options.inputType='application/json';
		options.data="";
		doServiceCall(options,deleteEBook_callback,{id:id});
	};
	$scope.getBranches=function(){
		var options={};
		options.apiPath=serviceEndPoint+'getBranches';
		options.methodType='GET';
		options.inputType='application/json';
		options.data="";
		doServiceCall(options,getBranches_callback);
	};
	// declerations
	$scope.getEBookType();
	$scope.getEBookList();
	$scope.getBranches();
});

function getBranches_callback (data,callbackData){
	pageScope.branches=data;
	pageScope.$digest();
};
function uploadEBook_callback(data,callbackData){
	if(callbackData!=undefined && callbackData.uploadType=='new'){
		callbackData.currentEBook.id=data;
		pageScope.eBookList.push(callbackData.currentEBook);
	}
	pageScope.$digest();
	if(callbackData.uploadType=='new'){
		//$('#syllabus_table').DataTable({"destroy": true,"responsive": true});
	}
	$('#viewEBook').click();
}
function getEBookList_callback(data,callbackData){
	if(data.length>0 && callbackData.eBookType!='syllabus'){
		$.each(data,function(eBookIndex,eBookObj){
			eBookObj.dateToShow=new Date(eBookObj.dateToShow);
			data[eBookIndex]=eBookObj;
		});
	}
	pageScope.eBookList=data;
	pageScope.$digest();
	//$('#syllabus_table').DataTable({"destroy": true,"responsive": true});
}
function deleteEBook_callback(data,callbackData){
	if(data){
		var eBookId=callbackData.id;
		var eBookList=angular.copy(pageScope.eBookList);
		$.each(eBookList,function(eBookIndex,eBookObj){
			if(eBookObj.id==eBookId){
				eBookList.splice(eBookIndex,1);
				pageScope.eBookList=eBookList;
				return false;
			}
		});
		//$('#syllabus_table').DataTable({"destroy": true,"responsive": true});
		pageScope.$digest();
		
	}
}

function readFile (event) {
    var input = event.target;
    var reader = new FileReader();
    var currentEBook=pageScope.currentEBook;
    reader.onload = function (event) {
        var text = event.target.result;
        var node = document.getElementById('output');
        //node.innerText = text;
        currentEBook.fileBase64=btoa(text);
        pageScope.$digest();
    };
    var origFileName=input.value;
    origFileName=(origFileName.split('\\')[origFileName.split('\\').length-1]);
    currentEBook.origFileName=origFileName;
    //$('[type="file"]').val().split('\\')[$('[type="file"]').val().split('\\').length-1]
    reader.readAsBinaryString(input.files[0]);
};

function removeUnsafe(elem){
	if(elem.href.indexOf('unsafe:')!=-1){
		$(elem).attr('href',$(elem).attr('href').replace('unsafe:',''));
		$(elem).click();
	}
}
function setSyllabusView(){
	$('#editEBook').css('pointer-events','none');
	$('#viewEBook').click();
}
function validateUpload(currentEBookObj){
	var currentEBook=angular.copy(currentEBookObj);
	var errorFlag=false;
	if(currentEBook.syllabus==undefined || currentEBook.syllabus==""){
		$('[ng-model="currentEBook.syllabus"]').addClass('input-error');
		errorFlag=true;
	}else{
		$('[ng-model="currentEBook.syllabus"]').removeClass('input-error');
	}
	
	if(currentEBook.branch==undefined || currentEBook.branch==""){
		$('[ng-model="currentEBook.branch"]').addClass('input-error');
		errorFlag=true;
	}else{
		$('[ng-model="currentEBook.branch"]').removeClass('input-error');
	}
	
	if(currentEBook.eBookId==undefined || currentEBook.eBookId==""){
		$('[ng-model="currentEBook.eBookId"]').addClass('input-error');
		errorFlag=true;
	}else{
		$('[ng-model="currentEBook.eBookId"]').removeClass('input-error');
	}
	
	if(currentEBook.eBookName==undefined || currentEBook.eBookName==""){
		$('[ng-model="currentEBook.eBookName"]').addClass('input-error');
		errorFlag=true;
	}else{
		$('[ng-model="currentEBook.eBookName"]').removeClass('input-error');
	}
	
	var eBookType=pageScope.currentEBook.eBookType;
	if(eBookType!='syllabus'){
		if(currentEBook.language==undefined || currentEBook.language==""){
			$('[ng-model="currentEBook.language"]').addClass('input-error');
			errorFlag=true;
		}else{
			$('[ng-model="currentEBook.language"]').removeClass('input-error');
		}
		if(currentEBook.dateToShow==undefined || currentEBook.dateToShow==""){
			$('[ng-model="currentEBook.dateToShow"]').addClass('input-error');
			errorFlag=true;
		}else{
			$('[ng-model="currentEBook.dateToShow"]').removeClass('input-error');
			var dateToShow=currentEBook.dateToShow;
			dateToShow=dateToShow.getFullYear()+'-'+(dateToShow.getMonth()+1)+'-'+dateToShow.getDate();
			currentEBook.dateToShow=dateToShow;
		}
	}
	
	if(currentEBook.origFileName==undefined || currentEBook.origFileName==""){
		alert('please upload file');
		errorFlag=true;
	}
	if(!errorFlag){
		$('input-error').removeClass('input-error');
	}
	return errorFlag;
}

$(document).ready(function(){
	//$("select").select2();
	$('#syllabus_table').DataTable({"destroy": true,"responsive": true});
	$('#editEBook').css('pointer-events','none');
});
</script>
</body>
</html>